.banner {
    background-image: url(../images/algodon2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
    .text-white {
        font-size: 3rem;
    }
}

